<!-- More information on ROS launch http://wiki.ros.org/roslaunch/XML -->

<launch>
  <!-- 
       Using simulation time means nodes initialized after this
       will not use the system clock for its ROS clock and 
       instead wait for simulation ticks. 
       See http://wiki.ros.org/Clock
       Note: set to false for deploying to a real robot.
  -->
  <arg name="use_sim_time" default="true"/>
  <param name="use_sim_time" value="$(arg use_sim_time)"/>
  <param name="/num_robots" value="3"/>
  
  <!-- Flocking Motion Node Parameters -->
  <param name="/neighborhood_distance" value="6"/>
  <param name="/separation_boundary_dist" value="1"/>
  <param name="/cohesion_weight" value="0.8"/>
  <param name="/alignment_weight" value="4"/>
  <param name="/separation_weight" value="2"/>

  <!-- Define robots in Gazebo Simulator -->
  <arg name="first_tb3"  default="tb3_0"/>
  <arg name="second_tb3" default="tb3_1"/>
  <arg name="third_tb3"  default="tb3_2"/>

  <!-- Run Simple_Flocking on defined robots -->
  <group ns = "$(arg first_tb3)">
    <node pkg="simple_flocking" type="simple_flocking" name="simple_flocking" output="screen"/>
  </group>

  <group ns = "$(arg second_tb3)">
    <node pkg="simple_flocking" type="simple_flocking" name="simple_flocking" output="screen"/>
  </group>

  <group ns = "$(arg third_tb3)">
    <node pkg="simple_flocking" type="simple_flocking" name="simple_flocking" output="screen"/>
  </group>
</launch>
