<launch>

  <!-- Name of the world file to use -->
  <arg name="world_file" default="$(find simple_maze_exploring)/worlds/empty_world.world"/>
  <param name="/use_sim_time" value="true"/>

  <!-- Define number of robots in scene -->
  <param name="num_robots" value="2"/>

  <!-- Define robot names -->
  <arg name="tb3_0" default="robot_0"/>
  <arg name="tb3_1" default="robot_1"/>

  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /> -->

  <!-- Run stageros simulator -->
  <node pkg="stage_ros" type="stageros" name="stageros" args="$(arg world_file)">
    <param name="base_watchdog_timeout" value="0.5"/>
    <remap from="base_scan" to="scan"/>
  </node>

  <!-- Run gmapping on defined robots -->
  <group ns = "$(arg tb3_0)">
    <node pkg="gmapping" type="slam_gmapping" name="turtlebot3_slam_gmapping" output="screen">
      <remap from="scan" to="/$(arg tb3_0)/base_scan"/>
      <param name="odom_frame" value="/robot_0/odom"/>
      <param name="base_frame" value="/robot_0/base_footprint"/>
      <param name="map_frame" value="map"/>
    </node>

    <!-- NOTE: Only load one exploration node per robot-->
    <!-- Alphonso's exploration node-->
    <!-- Abby's exploration node -->
    <node name="explorer_elliot"           pkg="simple_maze_exploring" type="explorer_elliot" required="true" output="screen">
      <param name="robot_name" value="$(arg tb3_0)"/>
    </node>

    <node name="robot_detector"     pkg="simple_maze_exploring" type="robot_detector"     required="true" output="screen"/>
  </group>

  <group ns = "$(arg tb3_1)">
    <node pkg="gmapping" type="slam_gmapping" name="turtlebot3_slam_gmapping" output="screen">
      <remap from="scan" to="/$(arg tb3_1)/base_scan"/>
      <param name="odom_frame" value="/$(arg tb3_1)/odom"/>
      <param name="base_frame" value="/$(arg tb3_1)/base_footprint"/>
      <param name="map_frame" value="map"/>
    </node>
  </group>

    <!-- rviz -->
  <group>
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find simple_maze_exploring)/rviz/gmapping.rviz"/>
  </group>

</launch>
